<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sse</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
    <h1>SSE</h1>
    <button type="button" onclick="adEvent()">관리자가 광고 알림 이벤트 발생</button>
</body>

</html>

<script>
    function adEvent() {
        $.ajax({
            url      : "localhost:8080/sse/ad",
            type     : "GET",
            contentType : "application/json",
            error : function(error){
                console.log("실패 : " + error)
            }
        });
    }

    $(function () {
        const sse = new EventSource("http://localhost:8080/sse");
        console.log(sse);

        sse.addEventListener('sse', (e) => {
            const { data: receivedConnectData } = e;
            console.log('connect event data: ', receivedConnectData);  // "connected!"
        });

        sse.addEventListener('ad', e => {
            const { data: res } = e;
            console.log("ad event data",res);

            (async () => {
                const showNotification = () => {
                    const notification = new Notification('코드 봐줘', {
                        body: res.content
                    });

                    setTimeout(() => {
                        notification.close();
                    }, 10 * 1000);

                    notification.addEventListener('click', () => {
                        window.open(notification.url, '_blank');
                    });
                }

                let granted = false;

                if (Notification.permission === 'granted') {
                    granted = true;
                } else if (Notification.permission !== 'denied') {
                    let permission = await Notification.requestPermission();
                    granted = permission === 'granted';
                }

                if (granted) {
                    showNotification();
                }
            }) ();
        });
    })
</script>